<link rel="stylesheet" href="/stylesheets/style.css" />

<!-- This is the script that we would be creating later -->
<script src="./javascripts/scripts.js"></script>
<h1><%= payload.name %></h1>
<div id="container">
  <img id="sword" src="images/diamond_sword.gif" />
</div>
